name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies (poetry)
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: '1.5.0'

      - name: Install dev deps
        run: poetry install --with dev

      - name: Run Lint
        run: ruff src tests

      - name: Run Tests
        run: pytest -v
